* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f3ef;
}

.input-contain {
    position: relative;
    width: 60rem;
    height: 6rem;
    background-color: white;
    border-radius: 10px;
}

input[type="text"] {
    height: 100%;
    width: 100%;
    border: none;
    padding: 16px 24px;
    font-size: 24px;
    outline: none;
    transition: all 0.2s ease-out;
    position: relative;
    background: white;
    border-radius: 10px;
    z-index: 2;
}

input[type="text"].moved {
    height: 40%;
    font-size: 12px;
    background: none;
    color: #6200ee;
}

textarea:focus, input:focus {
    outline: none !important;
  }
  
.short-url {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    width: 100%;
    text-align: center;

    font-size: 24px;
    font-weight: bold;

    color: #000;
    transition: all 0.2s ease-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 32px);
}

.url-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .link-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .original-url {
    font-size: 12px;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1rem;
  }
  
  .stats div {
    position: relative;
    padding-left: 2rem; /* Space for icon */
  }
  
  .stats div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .view-count::before {
    background-image: url('assets/views.svg');
  }
  
  .date-created::before {
    background-image: url('assets/date.svg');
  }
  
  .delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .delete-button::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px; /* Size of your icon */
    height: 16px; /* Size of your icon */
    background-image: url('assets/delete.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .delete-button:hover {
    background-color: #ff3333;
  }
  

  h2 {
    padding: 30px 0 10px 0;
  }